# Xcode
.DS_Store
*/build/*
*build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*.xcworkspace
*.xcworkspacedata
SendMoney.xcodeproj/project.xcworkspace

#CocoaPods
Pods
#Podfile.lock
xcov_output/index.html
xcov_output/resources/application.css
xcov_output/resources/application.js
xcov_output/resources/bootstrap.min.css
xcov_output/resources/bootstrap.min.js
xcov_output/resources/file_cpp.png
xcov_output/resources/file_objc.png
xcov_output/resources/file_swift.png
xcov_output/resources/jquery.min.js
xcov_output/resources/main.css
xcov_output/resources/main.js
xcov_output/resources/opensans.css
xcov_output/resources/xcov_logo.png

*.dSYM.zip
*.ipa
report.xml
